<!doctype html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom CSS cause Bootstrap xd-->
        <link rel="stylesheet" href="css/style.css">
    
        <title>Ninty Here</title>
        
        <!--Favicon-->
        <link rel="icon" href=favicon.ico type="image/ico">
    </head>

    <body id="about" style="background-color: #383838; color: #f8f9fa">
    
        <nav class="navbar navbar-dark navbar-expand-lg sticky-top" style="background-color: #515151">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="nav-item nav-link ml-auto" href="#about">About Me</a>
                <a class="nav-item nav-link" href="#projects">Projects</a>
                <a class="nav-item nav-link" href="#contact">Contact Me</a>
                <a class="nav-item nav-link" href="https://github.com/goninty" target="_blank">GitHub</a>
                <a class="nav-item nav-link" href="https://www.linkedin.com/in/andrew-morton-325b45187" target="_blank">LinkedIn</a>
            </div>
        </nav>

        <div class="container my-3">

            {% for aList in allLists %}
                {% if loop.index % 3 == 1 %}
                    <div class="row my-3">
                {% endif %}

                <div class="col-md-4">
                    <h5>{{aList}}</h5>
                    {% for item in allLists[aList] %}
                        <a href="{{allLists[aList][item]}}">{{item}}</a><br>
                    {% endfor %}
                </div>

                {% if loop.index % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>


        <footer class="page-footer font-small blue text-center py-2" style="background-color: #515151; font-size:14px">
                <p>Written using the <a href="https://getbootstrap.com/">Bootstrap</a> CSS framework.<br>
                Last updated on 24/09/19.
                </p>   
        </footer>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>